
<suite name="Test Suite" verbose="1">
    <test name="Regression Tests">
        <classes>
            <class name="stepdefination.StepDefination"/>
            <class name="com.example.TestRunner"/>
            <class name="feature.galaxy.feature"/>
            <class name="feature.Walmart.feature"/>
         
        </classes>
    </test>
    
    
</suite>